
/*===========================================================*/
/*FUNCIONALIDAD 2*/
/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/*------------------------*/

*{
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

/*titulo*/
.title{
text-align: center;
Font-weight: bold;
font-size:20px;
}


/*Carousel*/
.containerCarousel{
  display:flex;
  justify-content:center;
  align-items:center;
}

.carousel{
  width: 800px;
  height:750px;
  overflow: hidden;
  border-radius: 2%;
  margin-bottom: 50px;
}
.images{

  display: flex;
  flex-direction: row;
  transform: translateY(0);
  transition: transform 1s ease-in-out;
  
  margin-bottom: 10px;
}
.images img{
  border-radius: 0 0 5px 5px ;
}

/*controls*/

.controls{
  height:50px;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.controlR{
  display: flex;
  justify-content:center;
  align-items:center;
}

.reg {
  margin: 1px 0;
}

/*regresar btn*/
.reg a{
  text-decoration: none;
  color:white;
}
/*========================================================*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.flex{
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center{
  align-items: center;
  justify-content: center;
}

.flex-space {
  justify-content: space-evenly;
}

.total-size {
  width: 100%;
  height: 100%;
}

.color-white {
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #0056b3;
}

a:visited {
  color: inherit; /* or any other color value you want */
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li a.active {
  text-decoration:underline;
}

.home-button {
  position: absolute;
  top: 12%;
  left: 10%;
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #ccc;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
}

.fa-home {
  color: white;
  font-size: 30px;
}

.home-button:hover > .fa-home {
  color: #0056b3;
}

